.container{
    width: 100%;
    position:relative;
    margin-bottom: -7px;

}
.container img{
    width: 100%
}
.texts{
    position: absolute;
    top: 100px;
    background-color: #4760a67e;
    color: #fefeff;
    
}